= render 'breadcrumbs', edit: true, delete: true

%h1 Exhibition
%h3= @exhibition.title
%h6= @exhibition.subtitle


%h2 Sections
%ul.list.sections
  - @exhibition.sections.each do |s|
    %li
      .drag
      .tbl
        %h4.tbc= s.title
        .tbc.buttons
          %a.button{href: edit_manage_exhibition_section_url(@exhibition, s)} Edit
          %a.button{href: manage_exhibition_section_url(@exhibition, s), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'} Delete

      %ul.list.pieces.alternate.hoverable
        - s.exhibition_pieces.each do |p|
          %li
            .drag
            .tbl
              %h6.tbc= p.title
              .tbc.buttons
                %a.button{href: edit_manage_exhibition_section_piece_url(@exhibition, s, p)} Edit
                %a.button{href: manage_exhibition_section_piece_url(@exhibition, s, p), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'} Delete
        %li.new
          %a.button{href: new_manage_exhibition_section_piece_url(@exhibition, s)} Add a Piece
  %li.setion.new
    %a.button{href: new_manage_exhibition_section_url(@exhibition)} Add a Section
