<ul class="pagination">
  {{#pagination}}
    {{#if exhibition_pieces}}
      <li class="section">
        <h2>{{title}}</h2>
      </li>
      {{#each exhibition_pieces}}
        <li class="{{#current}}current loading{{/current}}">
          <a href="{{#if urls}}{{urls.canonical}}{{else}}javascript:;{{/if}}" data-thumbnail="" data-exhibition_piece_id="{{id}}" rel="follow" data-title="{{title}}">
            <h3>{{title}}</h3>
            {{#piece}}
              <p>{{excerpt}}</p>
            {{/piece}}
          </a>
        </li>
      {{/each}}
    {{/if}}
  {{/pagination}}
</ul>