<h2>Share:</h2>
<ul>
  {{#twitter}}
    <li><a data-share_box="twitter" href="https://twitter.com/intent/tweet?related=xolator&text={{text}}&url={{url}}" target="_blank"><i class="icon-twitter-sign"></i></a></li>
  {{/twitter}}

  {{#facebook}}
    <li><a data-share_box="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url}}"><i class="icon-facebook-sign"></i></a></li>
  {{/facebook}}

  {{#gplus}}
    <li><a data-share_box="gplus" href="https://plus.google.com/share?url={{url}}&hl=en"><i class="icon-google-plus-sign"></i></a></li>
  {{/gplus}}

  {{#pinterest}}
    <li><a data-share_box="pinterest" href="https://www.pinterest.com/pin/create/button/?url={{url}}&media={{image}}&description={{text}}"><i class="icon-pinterest-sign"></i></a></li>
  {{/pinterest}}
</ul>
